/* Responsive Facebook comments*/
.fb-comments {
	margin-left: -5px;
	margin-right: -5px;
}

.fb_iframe_widget, .fb_iframe_widget, .fb_iframe_widget iframe[style] {
	min-width: 100% !important;
	width: 100% !important;
}

.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style],
	.fb-comments span, .fb-comments iframe span[style], .fb-like-box span,
	.fb-like-box iframe span[style] {
	width: 100% !important;
}

.fb_iframe_widget_fluid span, .fb_iframe_widget iframe {
	width: 100% !important
}

/*Fix Bootstrap*/
.panel-body img {
	margin: auto;
}

.album-name h3 {
	line-height: 2.5
}

.view_detail {
	height: auto;
	overflow: auto
}

.pd5 {
	padding: 5px
}

.pd10_0 {
	padding: 10px 0px
}

.mg0_0_10 {
	margin: 0px 0px 10px
}

.mg0_10_10 {
	margin: 0px 10px 10px
}

.txt16 {
	font-size: 16px
}

.txt20 {
	font-size: 20px
}

.txt_bold {
	font-weight: bold
}

.album-name h3 {
	line-height: 1.5;
	height: 40px;
}